iwinghire/*__pycache__
company/*__pycache__
company/*migrations
company/migrations
profiles/*__pycache__
profiles/*migrations
task/*__pycache__
task/*migrations

media
*media

db.sqlite3

pipeline

.DS_Store

winghire/*settings
winghire/settings